section {
  background-image: url("/assets/back2.jpg");
  /* background-color: aquamarine;*/
  align-items: center;
  height: 100%;
  margin-top: 0% !important;

  background-size: 100%;

  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto, arial, sans-serif;
  font-family: 'Dancing Script', cursive !important;
}

mat-card {
  top: 10%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  max-height: 600px;
  opacity: 0.9;
  background: #fff;
  border-radius: 40px;
}

mat-card-content {
  text-align: center;
}

.header {
  text-align: center;

}

.full-width {
  width: 80%;
}

.button-row {
  padding-top: 5px;
}

.button-row a {
  margin-right: 8px;
  text-align: center;
}

.forget-password {
  padding-left: 0px;
}

.emailInput {
  padding-top: 10px;
}

.contentBody {
  padding: 60px 1rem;
  background: #1b6ca8;
  display: block;
}

.aLink {
  float: right;
  padding-right: 60px;
  text-decoration: none;
}

.warning {
  background-color: #f9cc55
}
