<section>
  <div class="container">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button
            mat-fab
            color="primary"
            [routerLink]="['/products',product.Name ]"
            aria-label="Example icon button with a delete icon"
          >
            List products
          </button>
        </div>
        <div class="example-button-container">
          <button
            mat-fab
            [routerLink]="['/users',user.Name ]"
            color="accent"
            aria-label="Example icon button with a bookmark icon"
          >
            List users
          </button>
        </div>
        <div class="example-button-container">
          <button
            mat-fab
            [routerLink]="['/reservations',reservation.Name ]"
            color="warn"
            aria-label="Example icon button with a home icon"
          >
            List reservations
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
